p{
    margin-bottom: 0;
    font-size: 13px;
}
i{
    font-size: 13px;
}
.container-fluid{
    --bs-gutter-x: 0;
}
.headings{
    display: grid;
    grid-template-rows: 2.5fr 3.5fr 2.5fr 5fr;
}
.color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}
.forgrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
li{
    list-style: none;
    color: rgb(166, 166, 166);
}